body{
    /* Background pattern from Toptal Subtle Patterns */
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-image: url("img/tlo.png");
    margin: 0;
}

#logo{
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #808080;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
    letter-spacing: 2px;

}

#container {

    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 878px;
    padding: 10px;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgray;
}

#spis{
    width: 780px;
    padding-left: 100px;



}

ol{
    margin-top: 5px;

}

ol > li{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    letter-spacing: 3px;
}

ol > li > ul{
    text-transform: lowercase;
    font-weight: 500px;
    padding: 0;
    letter-spacing: 0;
    margin-top: 5px;
    margin-left: 25px;

}

ol > ol > ul > li{
    margin: 0;
}